.messages
  .message
    .upper-message
      .upper-message__user-name
        sengoku
      .upper-message__date
        2020/04/11
    .lower-meesage
      .lower-message__content
        メッセージ
    .message
    .upper-message
      .upper-message__user-name
        sengoku
      .upper-message__date
        2020/04/11
    .lower-meesage
      .lower-message__content
        メッセージ
    